:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 20px;
  cursor: default;
  user-select: none;
}

.app {
  display: flex;
  justify-content: center;
  height: 100vh;
  column-gap: 2rem;
  padding-top: clamp(2rem, 10vh, 10rem);
  padding-bottom: clamp(2rem, 10vh, 10rem);
}

@media (width < 910px) {
  .app {
    flex-direction: column;
    row-gap: 2rem;
    height: auto;
  }
}
